<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
    <li>@Html.ActionLink("О компании", "About", "Home")</li>
    <li>@Html.ActionLink("Услуги", "Services", "Home")</li>
    <li>@Html.ActionLink("Информация", "Info", "Home")</li>
    <li>@Html.ActionLink("Новости", "News", "Records")</li>
    <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
    <li>@Html.ActionLink("Расчёт ставки", "CalcRate", "Orders")</li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Вход", "Login", "Account")</li>
    <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
</ul>
