<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
    <li>@Html.ActionLink("О компании", "About", "Home")</li>
    <li>@Html.ActionLink("Услуги", "Services", "Home")</li>
    <li>@Html.ActionLink("Информация", "Info", "Home")</li>
    <li>@Html.ActionLink("Новости", "News", "Records")</li>
    <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
    <li>@Html.ActionLink("Расчёт ставки", "CalcRate", "Orders")</li>
</ul>

@using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
@Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Мой аккаунт", "AccountIndex", "Manage")</li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
</ul>
}
