@model AutoTransition.Models.Entities.AddRecordViewModel

@{
    ViewBag.Title = "Create";
}

<div class="container body-content">
    @using (Html.BeginForm("AddRecord", "Records"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Добавление записи</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <p class="control-label col-md-2">
                    @Html.DisplayNameFor(model => model.Email)
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="control-label col-md-2">
                    @Html.DisplayNameFor(model => model.Title)
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="control-label col-md-2">
                    @Html.DisplayNameFor(model => model.Description)
                </p>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Добавить" class="btn btn-pro" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Назад", "Index", "Home")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
